// $font-family : 'Noto Sans KR', sans-serif;
$font-family : 'NotoSansKR-Hestia', sans-serif;

$color-black: #2b2b2b;
$color-strongblack: #000000;
$color-darkblack: #1a1a1a;
$color-white: #ffffff;
$color-primary: #00AEEF;
$color-error: #EF519A;
$color-info: #0AAF5E;
$color-success: #00AEEF;
$color-darkblue: #0b1e36;
$color-font: #333333;
$color-font-dark: #595959;
$color-font-gray: #767676;
$color-secondary:#1f2328;
$color-background:#f3f7f9;
$color-lightbackground:#f6f6f6;
$color-lightprimary:#e1f5fd;
$color-border:#e9e9e9;
$color-bordertable:#e0e0e0;
$color-borderinput:#a9a9a9;
$color-darkborder:#393939;
$color-tableborder:#ccc;
$color-gray:#858585;
$color-grayshadow:#858E94;

$content-width: 1200px;
$content-padding:30px 0;
$content-margin: 0 30px;
$section-padding:30px;
$header-height-main:110px;
$header-height:90px;
$content-height-main: calc(100vh - $header-height-main);
$content-height: calc(100vh - $header-height);

$mobile-content-width: calc(100%);
$mobile-content-padding: 30px 0;
$mobile-content-margin: 0 30px;
$mobile-section-padding: 30px;
$mobile-header-height-main: 60px;
$mobile-header-height: 50px;
$mobile-content-height-main: calc(100vh - $mobile-header-height-main);
$mobile-content-height: calc(100vh - $mobile-header-height);

@media only screen and (max-width: 600px) {
    $content-padding:1rem 0;
    $content-margin: 0 1rem;
    $section-padding:1rem;

}

$box-shadow: 1px 0 20px rgb(0 0 0 / 8%);
$border-radius: 8px;


$btn-font-weight: 400 !default;
$btn-letter-spacing: 0 !default;
